.github/
.vscode/
coverage/
node_modules/*/*.md
out/**/*.d.ts
out/**/*.js.map
out/*.d.ts
out/*.js.map
resources/demo.gif
resources/icon.*.png
resources/icon.old.png
resources/icon.bad.png
src/
tests/
web/
.eslintrc.json
.gitignore
.nvmrc
jest.config.js
build-install.bat
fix-*.js
skip-*.py
.vscodeignore-temp
*.js
